body {
    margin: 40px;
  }
  
  .container {
          display: grid;
          grid-gap: 10px;
          grid-template-columns: [col] 120px [col] 120px [col] 120px [col] 120px  ;
          grid-template-rows: [row] auto [row] auto [row] auto [row] auto;
          background-color: #fff;
      }
  
      .box {
          background-color: #444;
          color: #fff;
          border-radius: 10px;
          padding: 50px;
          font-size: 150%;
      }

    .a {
        grid-column: col / span 2;
        grid-row: row ;
        background-color: navy;
    }
    .b {
        grid-column: col 3 / span 2 ;
        grid-row: row ;
        background-color: darkorange;
    }
    .c {
        grid-column: col ;
        grid-row: row 2 ;
        background-color: red;
    }
    .d {
        grid-column: col 2 / span 3 ;
        grid-row: row 2 ;
        background-color: lightblue;;
    }

    .e {
        grid-column: col / span 4;
        grid-row: row 4;
        background-color: wheat;
    }

    @media screen and (min-width: 600px) {
        .container { grid-template-columns: auto; }
      }
    
    @media screen and (max-width: 500px) {
        .container { grid-template-columns: auto; }
      }