html { font-size: 22px; }
body { padding: 2rem; }

  

  .container {
    display: grid;
    color: white;
    margin: 0 0 20px 0;
    height: 400px;
    padding: 30px;
    grid-template-columns: repeat(4, 1fr, 1fr,);
    grid-template-rows: repeat(4,100px);
    grid-gap: 20px;
    grid-auto-flow: dense;
  }

  .box {
      transition: all 1s;  
  }

.box1 {
  background: lightblue;
  grid-row: auto;
  grid-column: auto; 
}

.box1:hover {
    background-color: darkorange;
    transform: rotate(360deg); 
}

.box2 {
  background: lightblue;
  grid-row: auto;
  grid-column: auto;
}

.box2:hover {
background-color: transparent;
transform: rotate(360deg);
}

.box3 {
  background: lightblue;
  grid-row: auto;
  grid-column: auto;
}


.box3:hover {
    background-color: lightgreen;
    transition-timing-function: ease-in-out;
    box-shadow: inset 0 0 20px 10px #999;
}



.box4 {
  background: lightblue;
  grid-row: auto;
  grid-column: auto;
}

.box4:hover {
background-color: turquoise;
transform: scaleX(2);
transform: scaleY(0.5);
transform: scaleZ(0.3);
transform: skew(30deg, 20deg) rotate(180deg);
}

.box5 {
    background-color: lightblue;
    grid-row: auto;
    grid-column: auto;
    transition-duration: 2s;
}


.box5:hover {
background-color: yellow;
transform: translate(30px, 20px) rotate(180deg);
transition-duration: 10s;


    
}

.box6 {
background-color: lightblue;
grid-column: auto;
grid-row: auto;
}

.box6:hover {
    background-color: darkgreen;
    transform: scale3d(2.5, 1.2, 0.3);
    
}


@media (min-width: 400px) {
    .container { grid-template-columns: repeat(3, 1fr); }
  }


@media (max-width: 200px) {
    .container { grid-template-columns: repeat(3, 1fr); }
  }


  